

 *{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
 
    text-decoration: none;
}

.header  {
   
    top:0;
    left:0;
    right:0;
    background-color: #000;
    padding: 4rem 12% 4rem;
    background:rgba(0,0,0,0.368) ;

    /*display:flex;*/
    justify-content:space-between;
    align-items:center;
    /*z-index:5;*/


}
nav{
    width: 1000px;
}
nav a{
    padding-left: 26px;
font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:19.8 rem;
    color:rgb(227, 198, 203);
    margin-left:3rem;
    font-weight:900;
   transition:0.3s ease;*/

  
   
    /*
   cursor:pointer;
    
}
nav a:hover{
    color:#000
} 
    

.banner{
    
    display: flex;
    justify-content: center;
    height:100vh;/*jeon  ke header gar  kalut gar gebach*/
    align-items: center;/*then yhen saderg mehala lay honech*/
    position: relative;

}


.linearedit{
    width: 100%;
    display:flex;
   
}

video{ 

    position:absolute;
  top:0;
  left:0;
  width: 100%;
  height: 70%;
  object-fit:cover;
  z-index:-1;
  
}
.note{
  
    padding-top: 400px;

}
.linear {
    overflow-x: hidden;
   
   
    width: 100%;
    object-fit:cover;
   
height:100%;
gap:12px;
    padding-top: 420px;
  
}
.liner1{
    width: 100%;
  
}
.linear{
 padding-top: 120px;
}
.color {
   
    box-shadow: red ;
}
.middle p{
    
    padding-left: 52px;
    padding-top: 53px;
    font-weight: 900;
    font-family: sans-serif;
    color:rgb(237, 145, 160);
}
/*
.linearedit{
   border-radius:50%;
}*/


.note{
    padding-top: 300;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
   color:rgb(156, 84, 97);
}

.content{

   padding-left: 192px;
 
    padding-top: 210px;
    position:absolute;
}

.content h2{
   
  position:absolute;
 
   transform:translate(-5%,50%);
   font-size:7.8em;

}
.content h2:nth-child(1){
    color:transparent;
    -webkit-text-stroke:2px pink;
  
}
.content h2:nth-child(2){
    color:pink;
animation:animate 4s infinite;
}
@keyframes animate{
0%,100%{
    clip-path: polygon(2% 35%, 0% 53%, 0% 74%, 0% 98%, 23% 100%, 46% 100%, 63% 100%, 99% 100%, 100% 76%, 100% 56%, 78% 57%, 59% 59%, 30% 54%, 16% 47%, 47% 63%, 57% 74%, 47% 63%);
   } 
50%{
    clip-path: polygon(0% 70%26% 76%, 44% 71%, 65% 56%, 65% 56%, 81% 51%, 81% 51%, 99% 50%, 99% 50%, 100% 75%, 100% 75%, 100% 99%, 100% 99%, 68% 100%, 68% 100%, 0% 97%, 0% 97%, 31% 98%, 31% 98%);
   }
}


   .card{
    padding-top: 950px;
    padding-left: 600px;
    width: 200px;

perspective:1000px;
}
.card-inner{
    position: relative;
    width: 100%;
    height:100%;
    transform-style:preserve-3d;
    transition:transform 0.8s;
}
.card:hover .card-inner{
    transform:rotateY(180deg);
}
.card-front,
.card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility:hidden;
    display: flex;
    border-radius:10px;
    box-shadow:0 8px rgb(88, 81, 81);
    align-items: center;
    justify-content: center;

}
.card-front{
    
    color:pink;


}
.card-back{
    background-color: rgb(55, 152, 55);
    color:pink;
    
    transform:rotateY(180deg);
}
h2{
    font-size:15px;
}
p{
    font-size:16px;
}
button{
    background: pink;
    border: none;
    color:white;
    font-weight:bold;
    padding: 12px;
}
p{
    font-size:100px
}.card{
    gap:120px
}
.card2{
    padding-bottom: 200px;
}
.card3{
    padding-bottom: 120px;
}
#please{
    font-size: 30px;
}
nav a:hover{
    background: pink;
    box-shadow: pink;
  border-radius: 55px;
    padding: 12px;

    color:#000;
}

